@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --faded-red: #e6686b;
  --grey: #929199;
  --black: black;
  --tiffany: #29d1d1;
  --bright-tiffany: #47ffff;
  --white: white;
  --dark-blue: #34313c;
  --dark-purple: #3a3053;
  --light-grey: #f0f1f6;
  --deep-purple: #232027;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: none;
  /* background: rgba(146, 146, 146, 0.266);
  outline: dotted 2px; */
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
