.Shortener {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
  gap: 1rem;
  width: 100%;
  position: relative;
  bottom: 3rem;
}

.Shortener__input-wrapper {
  background: url(/bg-shorten-desktop.svg);
  background-color: var(--dark-purple);
  color: var(--dark-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.Shortener__input {
  background-color: var(--white);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.Shortener__input:focus {
  border: none;
  outline: none;
  /* border: 2px solid var(--faded-red); */
}

/* 2px solid var(--faded-red) */

.Shortener__submit {
  color: var(--white);
  background: var(--tiffany);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.Shortener__submit:hover {
  background: var(--bright-tiffany);
}

.Shortener__output {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--white);
  /* display: none; */
}

.Shortener__output-original {
  display: flex;
  align-items: center;
}

.Shortener__output-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Shortener__output-short {
  color: var(--tiffany);
}

.Shortener__copy-button {
  background: var(--tiffany);
  color: var(--white);
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
}

.Shortener__copy-button:hover {
  opacity: 50%;
}

.test {
  position: absolute;
  top: 5rem;
  color: var(--faded-red);
  left: 2.25rem;
  font-size: 0.75rem;
}

@media (max-width: 855px) {
  .Shortener__input-wrapper {
    flex-direction: column;
    gap: 1.5rem;
  }

  .Shortener__output {
    flex-direction: column;
  }

  .Shortener__output-right {
    flex-direction: column;
    align-items: baseline;
    gap: 0.5rem;
  }

  .Shortener__copy-button {
    width: 100%;
  }

  .test {
    top: 4.75rem;
    left: 2.25rem;
  }
}
